.card {
	all: unset;
	cursor: pointer;
  border: 1px solid #292b36;
  border-radius: 10px;
  flex-direction: column;
  flex: 1;
  display: flex;
	overflow: hidden;
	transition: .1s;
}

.img {
	width: 100%;
  height: 100%;
  max-height: 15rem;
  object-fit: cover;
  border-radius: 5px;
}

.card:hover{
	text-decoration: none;
	scale: 1.01;
}

.card_content {
	padding: 36px;
}


.badge {
	background: #00ffbf;
	display: flex;
	justify-content: flex-start;
	gap: 8px;
	align-items: center;
	text-align: center;
	padding: 12px 26px;
	border-radius: 80px;
	width: fit-content;
	min-width: 342px;
}

.openAI {
	height: 22px;
	color: black;
}

